/* ---FONTS--------------------------------------------------------- */

@font-face {
    font-family: "Circe Bold";
    font-weight: 700;
    src: url('./Fonts/Circe/ofont.ru_Circe.ttf');
}

@font-face {
    font-family: "Euclid Circular A";
    font-weight: 300;
    src: url(./Fonts/EuclidCircularA/EuclidCircularALight.ttf);
}

@font-face {
    font-family: "Euclid Circular A";
    font-weight: 600;
    src: url(./Fonts/EuclidCircularA/EuclidCircularASemiBold.ttf);
}

@font-face {
    font-family: "Euclid Circular A";
    font-weight: 700;
    src: url(./Fonts/EuclidCircularA/EuclidCircularABold.ttf);
}

@font-face {
    font-family: "Rubik One";
    font-weight: 400;
    src: url(./Fonts/Rubik/RubikOne-Regular.ttf);
}

/* ---ОБНУЛЕНИЕ------------------------------------------------------- */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #292D32;
    font-family: "Roboto";
}

/* -------------------------------------------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex: 1 1 auto;
}

/* ---LINK-------------------------------------------- */

.link {
    display: flex;
    align-items: center;
}

.link__arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #33A9FF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.link__text {
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    color: #292D32;
}

/* ---HEADER------------------------------------------ */

.header {
    padding: 26px 0px 27px 0px;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    margin: 0px 60px 0px 0px;
}
.header__nav {
}
.nav-header {
}
.nav-header__list {
    display: flex;
    margin: 0px 50px 0px 0px;
}
.nav-header__list > *:not(:last-child) {
    margin: 0px 45px 0px 0px;
}
.nav-header__item {
    text-transform: uppercase;
    font-size: 15px;
    line-height: calc(18 / 15 * 100%);
}
.nav-header__item:hover {
    text-decoration: underline;
    cursor: pointer;
}
.header__search {
    margin: 0px 30px 0px 0px;
}
.header__search:hover {
    cursor: pointer;
}
.header__btns {
}
.btns-header {
    margin-left: auto;
}
.btns-header__list {
    display: flex;
}
.btns-header__list:first-child {
    position: relative;
}
.btns-header__item {
    margin: 0px 30px 0px 0px;
}
.btns-header__item:hover {
    cursor: pointer;
}
.btns-header__item_shoping {
    position: relative;
}
.btns-header__item_shoping:hover {
    cursor: pointer;
}
.btns-header__shopping-count {
    position: absolute;
    top: 1;
    right: 0;
}

/* ---HEADER-DROPDOWN------------------------------------------ */

.header__dropdown {
    position: absolute;
    /* background: #000; */
    filter: drop-shadow(0px 14px 75px rgba(0, 0, 0, 0.13)) drop-shadow(0px 1.75302px 9.39116px rgba(0, 0, 0, 0.065));
    padding: 86px 0px 0px 0px;
    border-radius: 20px;
    min-width: 405px;
    left: -186px;
    top: 0px;
    z-index: 2;
}
.header__dropdown.inactive {
    display: none;
}
.dropdown-header__triangel {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #fffffe;
    left: 191px;
    top: 75px;
}
.dropdown-header__wrapper {
    background: #fffffe;
    padding: 30.49px 0px 0px 0px;
    border-radius: 20px;
}
.dropdown-header__title {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 30px;
}
.dropdown-header__img {
}
.dropdown-header__name {
    font-size: 20px;
    line-height: 150%;
    margin: 0px 0px 0px 20px;
}
.dropdown-header__list {
    margin: 30px 0px 0px 0px;
}
.dropdown-header__item {
    padding: 20px 0px 20px 30px;
    border-top: 1px solid #F2F2F2;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.dropdown-header__item:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------- */

@media (max-width: 376px) {
    .header {
        padding: 15px 0;
    }
    .header__logo {
        margin: 0px 67px 0px 0px;
        width: 60px;
        height: 60px;
        position: relative;
        padding: 0px 60px 0px 0px;
    }
    .header__logo img {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .header__search {
        margin: 0px 30px 0px 0px;
        width: 20px;
        height: 20px;
    }
    .btns-header__item {
        margin: 0px 15px 0px 0px;
        width: 46px;
        height: 46px;
    }
    .btns-header__item:nth-child(2), .btns-header__item:nth-child(3) {
        display: none;
    }
    .header__hamb-btn {
        margin: 0px 0px 0px 15px;
        width: 46px;
        height: 46px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .header__hamb-btn span {
        width: 18px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .header__hamb-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .header__hamb-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .nav-header {
        position: fixed;
        top: 90px;
        left: 0;
        padding: 56px 257px 64px 38px;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .nav-header.active {
        transform: translateX(0);
    }
    .nav-header__list {
        flex-direction: column;
    }
    .nav-header__list > *:not(:last-child) {
        margin: 0px 0px 45px 0px;
    }
}

@media (min-width: 376px) {
    .header__hamb-btn {
        display: none;
    }
}

/* ---BEST ITEMS------------------------------------------ */

.best-items {
    background: #F2F2F2;
    padding: 84px 0px 54px 0px;
    position: relative;
}
.best-items__container {
    position: relative;
    display: flex;
}
.best-items__main {
    position: relative;
    display: flex;
    padding: 0px 40px 0px 0px;
    z-index: 2;
}
.best-items__background-img {
    position: absolute;
    z-index: -1;
}
.best-items__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 274px 0px 0px 0px;
    margin: 0px 105px 0px 0px;
}
.best-items__scroll_text {
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    margin: 0px 0px 16.5px 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: calc(19 / 16 * 100%);
    color: #838383;
}
.best-items__scroll_img {
}
.best-items__title {
    padding: 170px 0px 66px 0px;
    width: 100%;
    margin: 0px 0px 1px 0px;
    width: 404px;
}
.best-items__text {
    font-weight: 300;
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
    color: #838383;
    margin: 0px 0px 15px 0px;
}
.best-items__subtitle {
    font-size: 50px;
    line-height: calc(59 / 50 * 100%);
    color: #292D32;
}
.best-items__subtitle:not(:last-child) {
    margin: 0px 0px 60px 0px;
}
.best-items__more {
    display: flex;
    align-items: center;
}
.best-items__arrow {
    margin: 0px 12px 0px 0px;
    height: 55px;
    width: 55px;
    background: #33A9FF;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-items__arrow:hover {
    cursor: pointer;
}
.best-items__more_text {
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    color: #292D32;
}
.best-items__slider {
}
.slider-bestitems {
    position: relative;
}
.slider-bestitems__window {
    max-width: 557px;
    overflow: hidden;
}
.slider-besttimes__slides {
    display: flex;
    transition: 1s;
}
.slider-besttimes__slides img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.slider-bestitems__dotes {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    left: 91%;
    top: 431px;
}
.slider-bestitems__dote {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #D0D0D0;
    transition: 1s;
}
.slider-bestitems__dote.active {
    width: 9px;
    height: 9px;
    background: #292D32;
}
.best-items__offer {

    padding: 238px 0px 0px 60px;
}
.offer-bestitems {
    position: relative;
    z-index: 2;
}
.offer-bestitems__title {
    font-size: 25px;
    line-height: 130%;
    color: #292D32;
    margin: 0px 0px 90px 0px;
}
.offer-bestitems__arrow {
    background-image: url('./images/BestItems/Vector2.svg');
    width: 104.5px;
    height: 21px;
}
.offer-bestitems__arrow:hover {
    cursor: pointer;
}
.best-items__image-for-more {
    position: absolute;
    bottom: 159px;
    left: 0;
}
.best-items__wrapper-for-backgrnd {
    background: #F9F9F9;
    position: absolute;
    width: 27.51%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 375.99px) {
    .best-items {
        padding-bottom: 15px;
    }
    .best-items__container {
        flex-direction: column;
        padding: 80px 23px 10px 23px;
    }
    .best-items__main {
        position: relative;
        flex-direction: column;
        padding: 0;
    }
    .best-items__background-img {
        position: absolute;
        top: -62px;
        left: 0;
        width: 293px;
        height: 77px;
        z-index: -1;
    }
    .best-items__background-img img {
        max-width: 100%;
        object-fit: cover;
    }
    .best-items__scroll {
        display: none;
    }
    .best-items__title {
        padding: 0;
        max-width: 345px;
    }
    .best-items__text {
        font-size: 15px;
        line-height: 133.69%;
    }
    .best-items__subtitle {
        font-size: 30px;
        line-height: calc(35 / 30 * 100%);
    }
    .best-items__subtitle:not(:last-child) {
        margin: 0px 0px 28px 0px;
    }
    .best-items__more {
        display: flex;
        align-items: center;
    }
    .best-items__arrow {
        margin: 0px 12px 0px 0px;
        height: 45px;
        width: 45px;
        background: #33A9FF;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .best-items__more_text {
        font-size: 16px;
        line-height: calc(30 / 16 * 100%);
        color: #292D32;
    }
    .best-items__slider {
    }
    .slider-bestitems {
        position: relative;
        margin: 0px 0px 10px 0px;
    }
    .slider-bestitems__window {
        max-width: 327px;
        overflow: hidden;
    }
    .slider-besttimes__slides {
        display: flex;
        transition: 1s;
    }
    .slider-besttimes__slides img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .slider-bestitems__dotes {
        position: absolute;
        display: flex;
        gap: 10px;
        align-items: center;
        left: 54%;
        top: 93%;
    }
    .slider-bestitems__dote {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #D0D0D0;
        transition: 1s;
    }
    .slider-bestitems__dote.active {
        width: 9px;
        height: 9px;
        background: #292D32;
    }
    .best-items__offer {
        padding: 59px 0px 0px 0px;
    }
    .offer-bestitems {
        position: relative;
        z-index: 2;
    }
    .offer-bestitems__title {
        font-size: 20px;
        line-height: 130%;
        color: #292D32;
    }
    .offer-bestitems__arrow {
        position: absolute;
        background-image: url('./images/BestItems/Vector2.2.svg');
        width: 64px;
        height: 14px;
        right: 0;
        top: -36px;
    }
    .offer-bestitems__arrow:hover {
        cursor: pointer;
    }
    .best-items__image-for-more {
        position: absolute;
        width: 252px;
        height: 166px;
        top: 15px;
        left: 103px;
    }
    .best-items__image-for-more img {
        max-width: 100%;
        object-fit: cover;
    }
    .best-items__wrapper-for-backgrnd {
        position: absolute;
        top: 650px;
        left: 0;
        width: 100%;
        height: 31%;
        background: #F9F9F9;
    }
}

/* ---CATALOG--------------------------------- */

.catalog {
    padding: 164px 0px 180px 0px;
}
.catalog__container {
}
.catalog__row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.catalog__column_header {
    margin: 0px 52px 60px 0px;
}
.catalog__title {
    font-size: 50px;
    line-height: 100%;
    color: #292D32;
    max-width: 388px;
    margin: 0px 0px 29px 0px;
}
.catalog__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
    max-width: 372px;
    margin: 0px 0px 46px 0px;
}
.catalog__link {
}
.link-catalog {
}
.link-catalog__arrow {
    margin: 0px 15px 0px 0px;
}
.link-catalog__text {
}
.catalog__column {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    width: 440px;
}
.column-catalog {
}
.column-catalog__main {
    display: flex;
    margin: 0px 0px 186px 0px;
    position: relative;
}
.column-catalog__number {
    font-weight: 100;
    font-size: 25px;
    line-height: 150%;  
    color: #292D32;
    margin: 40px 0px 0px 40px;
}
.column-catalog__image {

}
.column-catalog__image img {
    max-width: 100%;
    height: auto;
}
.column-catalog__image_1 {
    position: absolute;
    top: -10px;
    left: 12px;
}
.column-catalog__image_2 {
    position: absolute;
    top: -21px;
    left: 115px;
}
.column-catalog__image_3 {
    position: absolute;
    top: 81px;
    left: 51px;
}
.column-catalog__image_4 {
    position: absolute;
    top: 59px;
    left: 75px;
}
.column-catalog__image_5 {
    position: absolute;
    top: 38px;
    left: 87px;
}
.column-catalog__signature {
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 40px 0px;
}
.column-catalog__count {
    font-weight: 300;
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
    color: #838383;
    margin: 0px 0px 5px 0px;
}
.column-catalog__title {
    font-size: 25px;
    line-height: 150%;
    color: #292D32;
}

@media (max-width: 375.99px) {
    .catalog {
        padding: 120px 0;
    }
    .catalog__column_header {
        margin: 0px 0px 40px 0px;
    }
    .catalog__title {
        font-size: 15px;
        line-height: 150%;
        color: #292D32;
        max-width: 335px;
        margin: 0px 0px 30px 0px;
    }
    .catalog__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #838383;
        max-width: 372px;
        margin: 0px 0px 46px 0px;
    }
    .catalog__link {
    }
    .link-catalog {
    }
    .link-catalog__arrow {
        width: 45px;
        height: 45px;
        margin: 0px 15px 0px 0px;
    }
    .link-catalog__text {
        font-size: 15px;
        line-height: calc(30 / 15 * 100%);
        color: #292D32;
    }
    .catalog__column {
        display: flex;
        flex-direction: column;
        background: #F2F2F2;
        border-radius: 20px;
        width: 440px;
    }
    .column-catalog {
    }
    .column-catalog__main {
        display: flex;
        margin: 0px 0px 157px 0px;
        position: relative;
    }
    .column-catalog__number {
        font-weight: 100;
        font-size: 25px;
        line-height: 150%;  
        color: #292D32;
        margin: 20px 0px 0px 20px;
    }
    .column-catalog__image {
    
    }
    .column-catalog__image img {
        max-width: 100%;
        height: auto;
    }
    .column-catalog__image_1 {
        position: absolute;
        top: 15px;
        left: 21px;
    }
    .column-catalog__image_2 {
        position: absolute;
        top: 10.53px;
        right: 36px;
    }
    .column-catalog__image_3 {
        position: absolute;
        top: 63.51px;
        right: 30.77px;
    }
    .column-catalog__image_4 {
        position: absolute;
        top: 46.26px;
        right: 59.99px;
    }
    .column-catalog__image_5 {
        position: absolute;
        top: 35px;
        right: 46px;
    }
    .column-catalog__signature {
        padding: 0px 0px 0px 20px;
        margin: 0px 0px 20px 0px;
    }
    .column-catalog__count {
        font-weight: 300;
        font-size: 15px;
        line-height: 133.69%;
        color: #838383;
    }
    .column-catalog__title {
        font-size: 20px;
        line-height: 150%;
        color: #292D32;
    }
}

/* ---ADVENTAGES-------------------------------------- */

.adventages {
    padding: 87px 0px 46px 0px;
    background: #F2F2F2;
    position: relative;
    z-index: 1;
}
.adventages__container {
}
.adventages__header {
    display: flex;
    margin: 0px 0px 48px 0px;
}
.adventages__image {
    margin: 0px 0px 0px -80px;
}
.adventages__image img {
}
.adventages__description {
    padding: 96px 0px 132px 0px;
    margin: 0px 0px 0px -80px;
}
.adventages__title {
    font-size: 50px;
    line-height: 100%;
    color: #292D32;
    margin: 0px 0px 37px 0px;
}
.adventages__text {
    font-size: 18px;
    line-height: 150%;
    color: #838383;
    margin: 0px 0px 41px 0px;
    max-width: 518px;
}
.adventages__link {
}
.link-adventages {
}
.link-adventages__arrow {
    margin: 0px 12px 0px 0px;
}
.link-adventages__text {
}
.adventages__row {
    display: flex;
    gap: 27px;
}
.adventages__column {
}
.column-adventages {
    background: #292D32;
    border-radius: 18px;
    max-width: 330px;
    padding: 0px 0px 35px 0px;
}
.column-adventages__header {
    display: flex;
    margin: 0px 0px 25px 0px;
}
.column-adventages__vector {
    margin-left: auto;
}
.column-adventages__icon_background {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343A41;
    border-radius: 10px;
    margin: 30px 0px 0px 30px;
}
.column-adventages__icon {
}
.column__adventages__desription {
    margin: 0px 24px 0px 30px;
    max-width: 278px;
    min-width: 263px;
}
.column-adventages__title {
    font-family: 'Euclid Circular A';
    font-weight: 700;
    font-size: 22px;
    line-height: calc(28 / 20 * 100%);
    color: #FFFFFF;
    margin: 0px 0px 13px 0px;
}
.column-adventages__text {
    font-family: 'Euclid Circular A';
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #B7B7B7;
}
.adventages__backgrd-text {
    font-family: "Rubik One";
    font-size: 187px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.7;
    max-width: 879px;
    position: absolute;
    top: 152px;
    left: 10px;
    z-index: -1;
}

@media (max-width: 375.99px) {
    .adventages {
        padding: 101px 0px 46px 0px;
        z-index: 1;
    }
    .adventages__header {
        flex-direction: column-reverse;
        margin: 0px 0px 179px 0px;
        position: relative;
    }
    .adventages__image {
        position: absolute;
        top: 182px;
        right: -61px;
        width: 345px;
        height: 194px;
    }
    .adventages__image img {
        max-width: 100%;
        height: auto;
    }
    .adventages__description {
        margin: 0;
        padding: 0;
    }
    .adventages__title {
        font-size: 30px;
        line-height: calc(50 / 30 * 100%);
        margin: 0px 0px 20px 0px;
    }
    .adventages__text {
        font-size: 15px;
        line-height: 150%;
        margin: 0px 0px 30px 0px;
        max-width: 336px;
    }
    .link-adventages__arrow {
        margin: 0px 15px 0px 0px;
        width: 45px;
        height: 45px;
    }
    .adventages__row {
        gap: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .adventages__row > *:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
    .column-adventages {
        padding: 0px 0px 15px 0px;
    }
    .column-adventages__header {
        margin: 0px 0px 15px 0px;
    }
    .column-adventages__icon_background {
        width: 50px;
        height: 50px;
        border-radius: 9px;
        margin: 10px 0px 0px 10px;
    }
    .column__adventages__desription {
        margin: 0px 11px 0px 15px;
    }
    .adventages__backgrd-text {
        font-size: 67px;
        top: 373px;
        left: 0px;
        z-index: -1;
    }
}

/* ---NEWS---------------------------------------------- */

.news {
    padding: 160px 0px 526px 0px;
    background: #F5F5F5;
}
.news__container {
}
.news__header {
    margin: 0px 0px 70px 0px;
}
.news__title {
    display: flex;
    flex-wrap: wrap;
}
.news__subtitle {
    flex: 0 1 50%;
    font-size: 50px;
    line-height: calc(59 / 50 * 100%);
    color: #292D32;
    margin: 0px 0px 25px 0px;
}
.news__text {
    flex: 0 1 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
}
.news__link {
    margin-left: auto;
}
.news__link_text {
    margin: 0px 17px 0px 0px;
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
}
.news__link_arrow {
}
.news__row {
    display: flex;
    margin: -20px -32.5px;
    flex-wrap: wrap;
}
.news__column {
}
.column-news {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
    border-radius: 0px 0 45px 0;
    overflow: hidden;
    padding: 20px 32.5px;
}
.column-news__image {
    position: relative;
    padding: 0px 0px 71.97% 0px;
    border-radius: 45px 0px 0px 0px;
    overflow: hidden;
}
.column-news__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column-news__signature {
    padding: 24px 20px 26px 30px;
    position: relative;
    z-index: 1;
    background-image: url('./images/News/Rectangle105.png');
    margin: -44px 0px 0px 0px;
}
.column-news__header {
    display: flex;
    margin: 0px 0px 11px 0px;
}
.column-news__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #292D32;
    max-width: 268px;
}
.column-news__arrow {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #292D32;
    border: 12px solid #FFFFFF;
    color: #fff;
    margin: -5px 10px 0px 30px;
}
.column-news__text {
    font-size: 14px;
    line-height: 150%;
    color: #292D32;
}

.column-news__data {
    position: absolute;
    width: 50px;
    height: 97px;
    display: flex;
    align-items: center;
    left: 422.5px;
    top: 64px;
    z-index: 4;
    background: #fff;
    flex-direction: column;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 24px 0px 24px 0px;
}
.column-news__number {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #292D32;
    margin: 0px 0px 15px 0px;
}
.column-news__month {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #292D32;
}

@media (max-width: 375.99px) {
    .news__column_4, .news__column_5, .news__column_6 {
        display: none;
    }
    .news {
        padding: 120px 0px 120px 0px;
    }
    .news__header {
        margin: 0px 0px 40px 0px;
    }
    .news__title {
        flex-direction: column;
    }
    .news__subtitle {
        order: 1;
        font-size: 30px;
        line-height: 35px;
        margin: 0px 0px 20px 0px;
    }
    .news__text {
        order: 2;
        font-size: 15px;
        line-height: 150%;
        margin: 0px 0px 30px 0px;
    }
    .news__link {
        order: 3;
        margin: 0;
    }
    .news__link_text {
        font-size: 15px;
        line-height: 200%;
        order: 2;
    }
    .column-news__image {
        max-width: 324px;
    }
    .news__link_arrow {
        order: 1;
        margin: 0px 15px 0px 0px;
        width: 45px;
        height: 45px;
    }
    .news__row {
        margin: 0px -21.2px 0px 0px;
        row-gap: 20px;
    }
    .column-news {
        padding: 0px 21.2px 0px 0px;
    }
    .column-news__signature {
        padding: 21px 18px 0px 20px;
        background-size: 324px 143px;
        background-repeat: no-repeat;
    }
    .column-news__arrow {
        width: 60px;
        height: 45px;
        border-radius: 50%;
    }
    .column-news__header {
        margin: 0px 0px 10px 0px;
    }
    .column-news__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;
    }
    .column-news__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin: 0px 0px 20px 0px;
    }
    .column-news__data {
        top: 53px;
        left: 300px;
    }
}

/* ---CONTACTS----------------------------------- */

.contacts {
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(.jpg);
    height: 676px;
    position: relative;
}
.contacts__background-text {
    position: absolute;
    font-family: 'Rubik One';
    font-size: 255px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(0deg, #EEEEEE -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.6;
    top: 184px;
}
.contacts__container {
    position: absolute;
    top: 0;
    left: 230px;
}
.contacts__wrapper {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    position: relative;
    margin-top: -346px;
}
.contacts__image {
    position: absolute;
    top: 142px;
    left: 492px;
}
.contacts__image img {
    max-width: 100%;
    height: auto;
}
.contacts__data {
    flex: 0 1 50%;
    background: #F9F9F9;
    padding: 100px 165px 111.29px 103px;
    border-radius: 20px 0px 0px 20px;
}
.contacts__title {
}
.contacts__subtitle {
    font-size: 50px;
    line-height: 50px;
    color: #292D32;
    margin: 0px 0px 18px 0px;
}
.contacts__text {
    font-size: 16px;
    line-height: 150%;
    color: #838383;
    margin: 0px 0px 40px 0px;
}
.contacts__adrres {
    margin: 0px 0px 47px 0px;
    background-image: url('./images/Contacts/location.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0px 0px 0px 56px;
}
.adrres-contacts {
}
.adrres-contacts__title {
    font-size: 18px;
    line-height: 24px;
    color: #838383;
    margin: 0px 0px 8px 0px;
}
.adrres-contacts__descr {
    font-size: 22px;
    line-height: 150%;
    color: #292D32;
}
.contacts__email {
    margin: 0px 0px 72px 0px;
    background-image: url('./images/Contacts/sms.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0px 0px 0px 56px;
}
.email-contacts__title {
    font-size: 18px;
    line-height: 24px;
    color: #838383;
    margin: 0px 0px 8px 0px;
}
.email-contacts__descr {
    font-size: 22px;
    line-height: 150%;
    color: #292D32;
}
.contacts__tel {
    margin: 0px 0px 60px 0px;
    background-image: url('./images/Contacts/Tel.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0px 0px 0px 56px;
    display: flex;
    flex-direction: column;
}
.tel-contacts__title {
    font-size: 18px;
    line-height: 24px;
    color: #838383;
    margin: 0px 0px 8px 0px;
}
.tel-contacts__number1 {
    font-size: 22px;
    line-height: 150%;
    color: #292D32;
}
.tel-contacts__number2 {
    font-size: 22px;
    line-height: 150%;
    color: #292D32;
}
.contacts__links {
    display: flex;
}
.contacts__link:not(:last-child) {
    margin: 0px 18.29px 0px 0px;
}
.contacts__form {
    flex: 0 1 50%;
}
.form-contacts {
    background: #292D32;
    border-radius: 0px 20px 20px 0px;
    padding: 100px 129px 103px 129px;
    color: #fff;
}
.form-contacts__header {
    margin: 0px 0px 53px 0px;
}
.form-contacts__title {
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0px 0px 18px 0px;
}
.form-contacts__text {
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.form-contacts__name {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px 0px;
}
.form-contacts__name input {
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    height: 59.25px;
    background: none;
}
.form-contacts__tel {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px 0px;
}
.form-contacts__tel input {
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    height: 59.25px;
    background: none;
}
.form-contacts__comment {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 57px 0px;
}
.form-contacts__comment textarea {
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    height: 145.25px;
    background: none;
}
.form-contacts__submitbtn {
    display: flex;
    align-items: center;
}
.form-contacts__submitbtn:hover {
    cursor: pointer;
}
.form-contacts__arrow {
    margin: 0px 12px 0px 0px;
    width: 55px;
    height: 55px;
}
.link__arrow {
}
.form-contacts__arrow_signature {
}
.form-contacts__label {
    transform: translate(23px, 12.75px);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #F2F2F2;
    background: #292D32;
    max-width: auto;
    text-align: center;
}

.label_name {
    max-width: 104px;
}

.label_tel {
    max-width: 164px;
}

.label_comment {
    max-width: 141px;
}

@media (max-width: 375.99px) {
    .contacts {
        height: auto;
        padding: 101px 0px 0px 0px;
    }
    .contacts__background-text {
        display: none;
    }
    .contacts__container {
        position: static;
    }
    .contacts__wrapper {
        flex-direction: column;
        margin: 0;
        /* background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(.jpg); */
    }
    .contacts__image {
        left: 174px;
        top: 260px;
        transform: rotate(24.19deg);
    }
    .contacts__data {
        flex: 0 1 100%;
        background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(.jpg);
        padding: 0px 48px 59.84px 15px;
        border-radius: 0px 0px 0px 0px;
    }
    .contacts__subtitle {
        font-size: 30px;
        line-height: calc(50 / 30 * 100%);
        margin: 0px 0px 15px 0px;
    }
    .contacts__text {
        font-size: 15px;
        line-height: 150%;
        margin: 0px 0px 40px 0px;
    }
    .contacts__adrres {
        margin: 0px 0px 57px 0px;
        background-size: 18.73px 18.73px;
        padding: 0px 0px 0px 27px;
    }
    .adrres-contacts {
    }
    .adrres-contacts__title {
        font-size: 15px;
        line-height: 133.69%;
        margin: 0px 0px 0px 0px;
    }
    .adrres-contacts__descr {
        font-size: 18px;
        line-height: 150%;
    }
    .contacts__email {
        margin: 0px 0px 30px 0px;
        background-size: 18.73px 18.73px;
        padding: 0px 0px 0px 27px;
    }
    .email-contacts__title {
        font-size: 15px;
        line-height: 133.69%;
        margin: 0;
    }
    .email-contacts__descr {
        font-size: 18px;
        line-height: 150%;
    }
    .contacts__tel {
        margin: 0px 0px 30.48px 0px;
        background-size: 18.73px 18.73px;
        padding: 0px 0px 0px 27px;
    }
    .tel-contacts__title {
        font-size: 15px;
        line-height: 133.69%;
        margin: 0;
    }
    .tel-contacts__number1 {
        font-size: 18px;
        line-height: 150%;
        color: #292D32;
    }
    .tel-contacts__number2 {
        font-size: 18px;
        line-height: 150%;
        color: #292D32;
    }
    .contacts__links {
        display: flex;
    }
    .contacts__link:not(:last-child) {
        margin: 0px 12.68px 0px 0px;
    }
    .contacts__form {
        flex: 0 1 100%;
        margin: 0  -15px;
    }
    .form-contacts {
        border-radius: 0px 0px 0px 0px;
        padding: 60px 26px 60px 30px;
    }
    .form-contacts__header {
        margin: 0px 0px 40px 0px;
    }
    .form-contacts__title {
        margin: 0px 0px 15px 0px;
    }
    .form-contacts__name {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 40px 0px;
    }
    .form-contacts__name input {
        height: 50px;
    }
    .form-contacts__tel {
        margin: 0px 0px 30px 0px;
    }
    .form-contacts__tel input {
        height: 50px;
    }
    .form-contacts__comment {
        margin: 0px 0px 30px 0px;
    }
    .form-contacts__comment textarea {
        height: 90px;
    }
    .form-contacts__submitbtn {
        display: flex;
        align-items: center;
    }
    .form-contacts__submitbtn:hover {
        cursor: pointer;
    }
    .form-contacts__arrow {
        margin: 0px 12px 0px 0px;
        width: 45px;
        height: 45px;
    }
    .link__arrow {
    }
    .form-contacts__arrow_signature {
    }
    .form-contacts__label {
        font-size: 15px;
        line-height: 133.69%;
    }
    
    .label_name {
        max-width: 81px;
    }
    
    .label_tel {
        max-width: 142px;
    }
    
    .label_comment {
        max-width: 118px;
    }
    
}